body {
	background-color: #333333;
	/*background-image: url('../img/palms.png');*/
	color: #ffffff;
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	font-family: 'Finger Paint';
	color: black;
	font-size: 24px;
	text-shadow: 2px 0px rgba(255, 255, 255, 0.5);
	height: 40px;
	line-height: 40px;
	position: relative;
	border-bottom: 1px solid black;
	/*box-shadow: 0 1px 4px black;*/
	background-color: #eee;
	/* fallback for ie */
	background-image: linear-gradient(bottom, rgb(200, 200, 200) 0%,
		rgb(240, 240, 240) 100% );
	background-image: -o-linear-gradient(bottom, rgb(200, 200, 200) 0%,
		rgb(240, 240, 240) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(200, 200, 200) 0%,
		rgb(240, 240, 240) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(200, 200, 200) 0%,
		rgb(240, 240, 240) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(200, 200, 200) 0%,
		rgb(240, 240, 240) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(200,
		200, 200) ), color-stop(1, rgb(240, 240, 240) ) );
	background-color: #eee
}

#header div {
	display: inline-block;
	margin: 0 2em;
}

#title {
	
}

#playerName {
	color: #f60;
}

#gameRoom {
	color: #082;
}

#gameRoom .description {
	font-family: 'Marcellus';
	text-shadow: none;
	color: black;
}

#music-control {
	font-family: 'Marcellus';
	color: #06a;
	text-shadow: none;
	padding: 0 6px;
}

#music-control.playing {
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5) inset;
	background-color: #DDD;
}

#music-control:hover {
	cursor: pointer;
	color: #eee;
	background-color: #69e;
}

#canvas {
	float: left;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
	/*border: 1px solid black;*/
	margin-right: 10px;
}

#console {
	float: left;
	background-color: rgba(0, 0, 0, 0.2);
	color: lime;
	padding: 4px;
	width: 200px;
	position: absolute;
	right: 0;
	height: 590px;
	overflow-y: scroll;
}

#playerList {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 4px;
	width: 200px;
	position: absolute;
	right: 0;
	height: 590px;
	overflow-y: scroll;
}

#roomList {
	position: absolute;
	right: 208px;
	background-color: rgba(100, 100, 100, 0.2);
	width: 200px;
	height: 590px;
	padding: 4px;
}

#roomList h3,
#playerList h3 {
	margin: 0.25em 0;
}

#roomList ul,
#playerList ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #ddd;
}

#roomList ul li {
	padding: 2px;
}

#roomList ul li.newRoom {
	color: #bbb;
	font-style: italic;
}

#roomList ul li:hover {
	background-color: #0a0;
	color: white;
	cursor: pointer;
}

#delay-graph {
	height: 100px;
	width: 200px;
	overflow-y: hidden;
	overflow-x: scroll;
	position: absolute;
	right: 416px;
	background-color: rgba(0, 0, 0, 0.5);
}

#delay-graph .delay {
	background-color: lime;
	width: 1px;
	float: left;
}