body {
    background-color: #333333;
    color: #ffffff;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

.console {
height: 300;
width: 200;
display: block;
overflow: hidden;
}

#entry {
    color: #ffffff;
}
